@use "./../../styles/mixins/mixins";
@use "./../../styles/variables/variables";

.projectsSection {
  height: 100%;
  width: 100%;
  background-color: variables.$secondary-background-color;

  .projectsSectionWrapper {
    max-width: 1000px;
    margin: 0 auto;

    .projectsTittleContainer {
      padding-top: 3rem;
    }

    .projectsTextContainer {
      padding: 5rem 0;
      width: 100%;

      .projectsTextContainer__Text {
        font-size: 1.2rem;
      }
    }

    .projectsCards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      gap: 2rem;
      width: 100%;

      .projectsCards__Card {
        position: relative; // Establece un contexto de posicionamiento
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        color: black;
        height: 100%;
        gap: 2rem;
        @include mixins.widthProjectCard(100%);
        @include mixins.paddingProjectsCard(0);
        @include mixins.neomorphismBoxStyle();

        img {
          height: 32rem;
          border-radius: 15px;
        }

        .projectsCards__Sheet {
          position: absolute;
          display: flex;
          flex-direction: column nowrap;
          justify-content: center;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.7); // Fondo semi-transparente
          backdrop-filter: blur(3px); // Aplicar el efecto de desenfoque
          height: 30%;
          width: 100%;

          .projectsCards__NameContainer,
          .projectsCards__Links,
          .projectsCards__Name,
          .projectsCards__TechImg {
            opacity: 1; // Elementos hijos completamente opacos
          }

          .projectsCards__NameContainer {
            position: absolute;
            margin-bottom: 4rem;

            .projectsCards__Name {
              font-size: xx-large;
            }
          }

          .projectsCards__Links {
            position: absolute;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            margin-top: 4rem;
            width: 100%;

            a {
              width: 100%;
              font-size: 2.5rem;
              transition: 0.3s ease-out;

              &:hover {
                transform: scale(1.2);
              }
            }
          }

          .projectsCards__Name {
            @include mixins.fontSizeTitleProjectCard(1.5rem);
            text-align: center;
            top: 0;
            right: 0;
            transform: translateX(-50%);
          }

          .projectsCards__TechImg {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            bottom: 1rem; // Ajusta según sea necesario
            top: 0;

            img {
              height: 2rem;
              @include mixins.projectTechImgWidth(2.5rem);
            }
          }
        }
      }

      .pagination {
        display: flex;
        justify-content: center;
        padding-top: 2.5rem;
        margin: 0 auto;

        button {
          color: #fff;
        }
      }
    }
  }
}
