@use "./../../styles/mixins/mixins";
@use "./../../styles/variables/variables";

.projectsSection {
  height: 100%;
  width: 100%;
  background-color: variables.$secondary-background-color;

  .projectsSectionWrapper {
    max-width: 1000px;
    margin: 0 auto;

    .projectsTittleContainer {
      padding-top: 3rem;
    }

    .projectsTextContainer {
      padding: 5rem 0;
      width: 100%;

      .projectsTextContainer__Text {
        font-size: 1.2rem;
      }
    }

    .projectsCards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      gap: 2rem;
      width: 100%;

      .pagination {
        display: flex;
        justify-content: center;
        padding-top: 2.5rem;
        margin: 0 auto;

        button {
          color: #fff;
        }
      }
    }
  }
}
