@use "./../../styles/mixins/mixins";

.burguerButton {
  position: fixed;
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: end;

  @include mixins.languageButtonWidth(100%);
  z-index: 6;
}

.header {
  position: fixed;
  box-sizing: border-box;
  @include mixins.heightHeader(100vh);
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 0.3s ease;
  transform: translateX(0);

  &.header--hidden {
    @include mixins.hiddenHeader(-100%);
  }
}
